.blog {
   grid-column: main-left / main-right;
   grid-row: top / main-end;

   display: grid;
   grid-template-rows: [header-top] 460px [header-bottom] auto;
   grid-template-columns: [left] auto 1200px auto [right];
   grid-template-areas:
       ". header ."
       ". content .";

   @media (max-width: 991px) {
      grid-template-rows: [header-top] 312px [header-bottom] auto;
      grid-template-columns: [left] 100% [right];
      grid-template-areas:
          "header"
          "content";
   }

   @media (max-width: 479px) {
      grid-template-rows: [header-top] 285px [header-bottom] auto;
   }
}

