.footer-container {
   display: grid;
   grid-template-columns: auto 1200px auto;
   grid-template-areas: ". footer .";

   background-color: #404040;

   @media (max-width: 991px) {
      grid-template-columns: 100%;
      grid-template-areas:
          "footer";
   }
}

.footer {
   grid-area: footer;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto auto;
   grid-template-areas:
       "contact sitemap socialmedia"
       "footer-bottom footer-bottom footer-bottom";

   margin-top: 3.4375em;
   font-size: 1rem;
   color: #fff;

   @media (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
      justify-items: center;
      grid-template-areas:
          "socialmedia socialmedia"
          "contact sitemap"
          "footer-bottom footer-bottom";
   }

   @media (max-width: 479px) {
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto auto;
      justify-items: stretch;
      grid-template-areas:
          "socialmedia"
          "sitemap"
          "contact"
          "footer-bottom";
   }

   .contact {
      grid-area: contact;

      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 3.125em;

      font-style: normal;
   }

   .sitemap {
      grid-area: sitemap;

      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 3.125em;

      ul {
         list-style: none;
         padding: 0;
         margin: 0;

         li {
            padding: 0;
         }
      }
   }

   .socialmedia {
      grid-area: socialmedia;

      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 3.125em;

      @media (max-width: 767px) {
         text-align: center;
      }
   }

   .bottom {
      grid-area: footer-bottom;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 5em;

      margin-top: 5em;
      margin-right: 20px;
      margin-left: 20px;

      border-top: 1px solid hsla(0, 0%, 100%, .3);
      color: hsla(0, 0%, 100%, .8);
      font-size: 0.75em;
      line-height: 1.67;

      @media (max-width: 767px) {
         justify-self: stretch;
      }
   }


   .link {
      display: block;
      padding-top: 0;
      padding-bottom: 0;
      color: #fff;
      line-height: 1.875;
      text-decoration: none;

      &:hover {
         text-decoration: underline;
      }
   }
}

.footer-header {
   margin: 0.625em 0;
   font-size: 1em;
   text-transform: none;
   line-height: 1.25;
   font-weight: 300;
   letter-spacing: 0.5px;
   font-style: normal;
}

.footer-section {
   margin-top: 2em;
}

address {
   font-style: normal;
}