* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

h1 {
   margin-top: 20px;
   margin-bottom: 16px;
   font-size: 40px;
   line-height: 55px;
   font-weight: 300;
   letter-spacing: 0.5px;
}

h2 {
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 35px;
   line-height: 50px;
   font-weight: 100;
   letter-spacing: 0.5px;
}

h3 {
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 16px;
   line-height: 20px;
   font-weight: 300;
   letter-spacing: 0.25px;
}

h4 {
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 16px;
   line-height: 20px;
   font-weight: 300;
   letter-spacing: 0.25px;
}

h5 {
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 16px;
   line-height: 20px;
   font-weight: 300;
   letter-spacing: 0.25px;
}

h6 {
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 14px;
   line-height: 20px;
   font-weight: 300;
   letter-spacing: 0.5px;
   text-transform: uppercase;
}

p {
   margin-bottom: 20px;
   color: #666;
   font-size: 20px;
   line-height: 32px;
   font-weight: 300;
}

ul {
   margin-top: 0px;
   margin-bottom: 10px;
   padding-left: 40px;
   text-align: left;
}

ol {
   margin-top: 0px;
   margin-bottom: 10px;
   padding-left: 40px;
   text-align: left;
}

li {
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 5px;
}

img {
   display: inline-block;
   max-width: auto;
}

blockquote {
   margin-top: 30px;
   margin-bottom: 30px;
   padding: 10px 30px;
   border-left: 3px solid #f7d002;
   font-size: 20px;
   line-height: 35px;
   font-style: italic;
}

figure {
   margin-top: 30px;
   margin-bottom: 30px;
}

figcaption {
   margin-top: 5px;
   color: #999ea8;
   font-size: 14px;
   text-align: center;
}

a {
   color: #00a6a0;
   text-decoration: none;
}

.w-button {
   display: inline-block;
   padding: 9px 15px;
   background-color: #3898EC;
   color: white;
   border: 0;
   line-height: inherit;
   text-decoration: none;
   cursor: pointer;
   border-radius: 0;

   &.w-button-primary {
      padding-right: 20px;
      padding-left: 20px;
      border-radius: 3px;
      background-color: #00a6a0;
      color: #fff;
   }
}

.w-input,
.w-select {
   display: block;
   width: 100%;
   height: 38px;
   padding: 8px 12px;
   margin-bottom: 10px;
   font-size: 14px;
   line-height: 1.428571429;
   color: #333333;
   vertical-align: middle;
   background-color: #ffffff;
   border: 1px solid #cccccc;

   &:-moz-placeholder {
      color: #999;
   }
   &::-moz-placeholder {
      color: #999;
      opacity: 1;
   }
   &:-ms-input-placeholder {
      color: #999;
   }
   &::-webkit-input-placeholder {
      color: #999;
   }
   &:focus {
      border-color: #3898EC;
      outline: 0;
   }
}
.w-list-unstyled {
   padding-left: 0;
   list-style: none;
}

.w-list-unstyled .list-item {
   padding: 0;
}

.w-input[disabled],
.w-select[disabled],
.w-input[readonly],
.w-select[readonly],
fieldset[disabled] .w-input,
fieldset[disabled] .w-select {
   cursor: not-allowed;
   background-color: #eeeeee;
}
textarea.w-input,
textarea.w-select {
   height: auto;
}

.input {
   height: 50px;
   margin-bottom: 0px;
   padding-top: 11px;
   padding-right: 20px;
   padding-left: 20px;
   border: 1px solid #d3d5da;
   border-radius: 6px;
   background-color: #f8f9fa;
   font-size: 17px;
   line-height: 30px;

   &.footer-subscribe {
      margin-top: 24px;
      margin-bottom: 30px;
      border-style: none;
      background-color: #fff;
   }

   &.password-input {
      margin-top: 16px;
      margin-bottom: 24px;
      border-color: #fff;
      text-align: center;
   }
}

.language-picker {
   list-style: none;
   margin: 0;
   padding: 0;

   .locale {
      display: inline;
      padding: 4px 5px 5px;
      color: #fff;

      a {
         color: hsla(0, 0%, 100%, .5);
      }
   }
}

.team-list {
   display: flex;
   flex-wrap: wrap;

}

.team-image-wrapper {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   overflow: hidden;
   width: 200px;
   height: 200px;
   margin-bottom: 10px;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   border-radius: 100%;

   @media (max-width: 991px) {
      width: 150px;
      height: 150px;
   }

   @media (max-width: 767px) {
      width: 200px;
      height: 200px;
   }
}

.team-image {
   width: 300px;
   max-width: 300px;
   margin-right: 50px;
   margin-left: auto;
   -webkit-box-flex: 0;
   -webkit-flex: 0 0 auto;
   -ms-flex: 0 0 auto;
   flex: 0 0 auto;

   @media (max-width: 991px) {
      width: 230px;
      max-width: 230px;
      margin-right: 35px;
   }

   @media (max-width: 767px) {
      width: 300px;
      max-width: 300px;
   }
}

.team-member {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   margin-top: 20px;
   margin-bottom: 40px;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;

   @media (max-width: 767px) {
      margin-bottom: 20px;
   }

   @media (max-width: 479px) {
      margin-bottom: 20px;
   }
}

.team-member-name {
   font-size: 20px;
   font-weight: 300;
   margin-bottom: 10px;
   margin-top: 10px;
   color: #282b31;
}

.socialmedia-list {
   padding: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;

   @media (max-width: 767px) {
      justify-content: center;
   }

   .list-item {
      padding: 0;
   }
}

.social-button {
   display: inline-block;
   border-style: solid;
   border-width: 1px;
   border-color: hsla(0, 0%, 100%, .3);
   line-height: 0;

   &.left-button {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
   }

   &.center-button {
      border-left-style: none;
   }

   &.right-button {
      border-left-style: none;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
   }

   &.white {
      border-color: hsla(0, 0%, 100%, .3);
   }
}

.social-icon {
   padding: 11px;
   opacity: 0.6;
   -webkit-transition: opacity 200ms ease;
   transition: opacity 200ms ease;

   &:hover {
      opacity: 1;
   }
}

@media (max-width: 991px) {
   .input {
      height: 45px;
      padding-top: 8px;
      font-size: 15px;

      &.footer-subscribe {
         text-align: center;
      }
   }
}

@media (max-width: 767px) {
   .input {
      padding-top: 9px;
      font-size: 16px;
   }
}

@media (max-width: 479px) {
   .input {
      margin-bottom: 14px;
   }
}