.legal-list {
   padding: 15px 40px 50px 25px;
   counter-reset: section;

   h3 {
      margin-top: 30px;
   }

   h3.numbered:before {
      counter-increment: section;
      content: counter(section) ". ";
      margin: 0 0.5em 0 0;
   }

   ol.numbered {
      padding-left: 2.5em !important;
      counter-reset: clause;
      list-style: none outside none;
      text-indent: -3em;

      &>li {
         counter-increment: clause;

         p:not(.info-box) {
            &:first-child {
               display: inline;
            }

            text-indent: 0.5em;
         }
      }

      &>li:before {
         content: counter(section) "." counters(clause, ".") ". ";
         margin: 0 0.5em 0 0;
      }
   }

   ul, ol.alpha-numbering, ol.roman-numbering {
      padding-left: 2em !important;

      &>li {
         padding-left: 1em !important;
         text-indent: 0;
      }
   }

   ul, ol.alpha-numbering, ol.roman-numbering, ol.numbered {
      &>li {
         color: #666;
         font-size: 20px;
         line-height: 32px;
         font-weight: 300;

         p {
            margin-bottom: 20px;
         }
      }
   }

   ul {
      list-style-type: disc;
   }

   ol.alpha-numbering {
      list-style-type: lower-alpha;
   }

   ol.roman-numbering {
      list-style-type: lower-roman;
   }

   .info-box {
      background-color: lightgray;
      border: 1px solid black;
      padding: 0.5em 1em;
   }
}