.table {
   width: 100%;
   margin-bottom: 1rem;
   background-color: transparent;
}

.table td, .table th {
   padding: .75rem;
   vertical-align: top;
   border-top: 1px solid #dee2e6;

   &:first-child {
      padding-left: 0;
   }
   &:last-child {
      padding-right: 0;
   }
}

.table td.nowrap {
   white-space: nowrap;
}

.table thead th {
   vertical-align: bottom;
   border-top: 2px solid #dee2e6;
   border-bottom: 2px solid #dee2e6;
   text-align: inherit;
   font-weight: 500;
}