@charset "UTF-8";

@import "normalize";
@import "ginto-components";
@import "table";
@import "utils";
@import "footer";
@import "blog";

body {
   display: grid;
   grid-template-rows: [top] 91px [header-end] auto [main-end] auto [bottom];
   grid-template-columns: [main-left] 100% [main-right];
   grid-template-areas:
       "topbar"
       "main"
       "footer";

   font-family: Roboto, sans-serif;
   color: #282b31;
   font-size: 1.25rem;
   line-height: 1.56;
   font-weight: 400;

   @media (max-width: 479px) {
      font-size: 1.125rem;
   }
}


.topbar {
   grid-area: topbar;

   z-index: 10;
   display: grid;
   grid-template-columns: auto 1200px auto;
   grid-template-areas:
       ". menubar .";

   @media (max-width: 991px) {
      grid-template-columns: 100%;
      grid-template-areas:
          "menubar";
   }

   .menubar {
      grid-area: menubar;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.25em 20px;
      font-size: 1rem;
   }

   .brand {
      img {
         height: 42px;
         position: relative;
         top: 9px;

         @media (max-width: 991px) {
            height: 30px;
            top: 9px;
         }

         @media (max-width: 479px) {
            height: 21px;
            top: 6px;
         }
      }
   }
}

.gradient-topbar .topbar {
   background-image: linear-gradient(180deg, rgba(0,0,0,0.51) 0%, rgba(0,0,0,0.10) 75%, rgba(0,0,0,0.00) 100%);
}

main {
   display: contents;
}

.footer-container {
   grid-area: footer;
}

.main {
   color: #666666;

   grid-column: main-left / main-right;
   grid-row: top / main-end;

   display: grid;
   grid-template-rows: [header-top] 460px [header-bottom] auto;
   grid-template-columns: [left] auto 1200px auto [right];
   grid-template-areas:
       ". header ."
       "content-wrapper content-wrapper content-wrapper";

   @media (max-width: 991px) {
      grid-template-rows: [header-top] 312px [header-bottom] auto;
      grid-template-columns: [left] 100% [right];
      grid-template-areas:
          "header"
          "content-wrapper";
   }

   @media (max-width: 479px) {
      grid-template-rows: [header-top] 285px [header-bottom] auto auto;
   }

   .content-wrapper {
      grid-area: content-wrapper;

      font-weight: 300;
   }
}

.breadcrumbs {
   margin-bottom: 2em;
}

.content-section {
   grid-column: main-left / main-right;
   grid-row: top / main-end;

   display: grid;
   grid-template-columns: auto 1200px auto;
   grid-template-areas:
       ". content .";

   padding-top: 90px;
   padding-bottom: 110px;

   @media (max-width: 991px) {
      grid-template-columns: 100%;
      grid-template-areas:
          "content";

      padding-top: 50px;
      padding-bottom: 70px;
   }

   @media (max-width: 767px) {
      padding-top: 40px;
      padding-bottom: 60px;
   }

   &.grey {
      background-color: #f8f9fa;
   }

   &.white {
      margin-bottom: 1px;
      background-color: #fff;
      box-shadow: 0 0 0 1px #e7e9e9;
   }
}

.content {
   grid-area: content;

   padding: 0 20px;
}

.header-background {
   grid-area: header;
   grid-column: left / right;
   grid-row: header-top / header-bottom;

   background-image: url(/images/layout/bg-gradient-2.svg);
   background-position: 50% 70%;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: scroll;
}

.title {
   grid-area: header;

   font-size: 4.25em; // 85px
   line-height: 1.29;
   font-weight: 500;
   color: white;
   margin-bottom: 74px;
   padding: 0 20px;
   align-self: end;

   overflow: hidden;
   text-overflow: ellipsis;

   @media (max-width: 991px) {
      font-size: 3.75rem;
      margin-bottom: 38px;
   }

   @media (max-width: 479px) {
      font-size: 2.25rem;
   }
}

.section-header {
   font-size: 1.75em;
   line-height: 1.43;
   font-weight: 500;
   color: #282B31;
   margin-top: 1em;
}

.subsection-header {
   font-size: 1.56rem;
   line-height: 1;
   font-weight: 500;
   color: #282B31;
   margin-top: 1.25em;
   margin-bottom: 0.5em;
}

.subsubsection-header {
   font-size: 1.25rem;
   line-height: 1;
   font-weight: 300;
   color: #282B31;
   margin-top: 1.25em;
   margin-bottom: 0.5em;
}