<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <meta name="description" content="{{ .Params.Description }}" />
    <meta name="author" content="ginto">
    <meta name="apple-itunes-app" content="app-id=1154510699, app-argument={{ .Site.BaseURL }}">
    <link rel="manifest" href=""> <!-- Android Web App Manifest -->

    {{ $styles := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

    {{ if false }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ .Site.GoogleAnalytics }}');
        gtag('config', '<%= Figaro.env.ginto_adwords_tracking_id %>');
    </script>


    <!-- Event snippet for App downloads conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof (url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': '<%= Figaro.env.ginto_adwords_tracking_id %>/PwhvCOS_zHoQwKLgiAM',
                'value': 1.0,
                'currency': 'CHF',
                'event_callback': callback
            });
            return false;
        }
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2141132799503708');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=2141132799503708&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
    {{ end }}

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
    <script
        type="text/javascript">WebFont.load({ google: { families: ["Nunito Sans:300,regular,italic,700,800", "Roboto:100,300,regular,500,700,900"] } });</script>
    <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
    <script
        type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>

    <link rel="icon" type="image/png" href="/images/layout/favicon.png" sizes="16x16">

    <!-- For Chrome for Android: -->
    <link rel="icon" sizes="192x192" href="/images/layout/touch-icon-192x192.png">
    <!-- For iPhone 6 Plus with @3× display: -->
    <link rel="apple-touch-icon-precomposed" sizes="180x180"
        href="/images/layout/apple-touch-icon-180x180-precomposed.png">
    <!-- For iPad with @2× display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152"
        href="/images/layout/apple-touch-icon-152x152-precomposed.png">
    <!-- For iPad with @2× display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="/images/layout/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with @2× display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120"
        href="/images/layout/apple-touch-icon-120x120-precomposed.png">
    <!-- For iPhone with @2× display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="/images/layout/apple-touch-icon-114x114-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/layout/apple-touch-icon-76x76-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/layout/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/images/layout/apple-touch-icon-precomposed.png"><!-- 57×57px -->
    <link rel="apple-touch-icon" href="/images/layout/apple-touch-icon.png"><!-- 57×57px -->
</head>

<body class="body">
    <script>
        fbq('track', 'ViewContent');
    </script>
    <header class="topbar">
        <div class="menubar">
            <a class="brand" href="{{ .Site.BaseURL }}">
                <img src="/images/layout/logo.svg">
            </a>
            {{ partial "language-selector.html" . }}
        </div>
    </header>
    <main>
        <!-- Main content -->
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
    </main>
    {{ partial "blog/footer.html" . }}
</body>

</html>