{{ define "main" }}
<div class="blog">
  <div class="header-background"></div>
  <h1 class="title">{{ .Title }}</h1>
  <div class="content">
    {{ range $index, $page := (.Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections)).Pages }}
    {{ if ne $index 0 }}
    {{ end }}
    {{ partial "blog/li.html" . }}
    {{ end }}
  </div>
</div>
{{ end }}