{{ define "main" }}
<article class="blog">
    <div class="header-background"></div>
    <h1 class="title">{{ .Title }}</h1>
    <div class="content">
        {{ .Content }}
    </div>
</article>
{{ end }}