<footer class="footer-container">
    <div class="footer">
       <h2 class="sr-only">Fusszeile</h2>
       <div class="contact">
          <address>
             <h3 class="footer-header">AccessibilityGuide</h3>
             <div>
                Betten 52<br>
                9300 Wittenbach<br>
                <a href="mailto:info@ginto.guide" class="link">info@ginto.guide</a>
             </div>
          </address>
          <div class="footer-section">
             <h3 class="footer-header">Übersetzung mit</h3>
             <a href="https://phraseapp.com">
              <img alt="PhraseApp" src="/images/layout/phraseapp-logo.png">
             </a>
          </div>
       </div>
       <nav class="sitemap" aria-labelledby="footer-nav-heading">
          <h3 class="footer-header" id="footer-nav-heading">Weitere Informationen</h3>
          <ul>
             <li><a class="link" href="{{ .Site.BaseURL }}/about">Über uns</a></li>
             <li><a class="link" href="{{ .Site.BaseURL }}/terms_of_service">Allgemeine Geschäftsbedingungen</a></li>
             <li><a class="link" href="{{ .Site.BaseURL }}/licence">Lizenzvereinbarung</a></li>
             <li><a class="link" href="{{ .Site.BaseURL }}/legalnotice">Impressum</a></li>
          </ul>
       </nav>
       <div class="socialmedia">
          <div class="newsletter">
             <h3 class="footer-header">Melde dich für unseren Newsletter an</h3>
             <script id="n2g_script">!function(e,t,n,c,r,a,i){e.Newsletter2GoTrackingObject=r,e[r]=e[r]||function(){(e[r].q=e[r].q||[]).push(arguments)},e[r].l=1*new Date,a=t.createElement(n),i=t.getElementsByTagName(n)[0],a.async=1,a.src=c,i.parentNode.insertBefore(a,i)}(window,document,"script","https://static.newsletter2go.com/utils.js","n2g");var config = {"container": {"type": "div","class": "w-form","style": ""},"row": {"type": "div","class": "","style": "margin-top: 15px;"},"columnLeft": {"type": "div","class": "","style": ""},"columnRight": {"type": "div","class": "","style": ""},"input": {"class": "input footer-subscribe w-input","style": ""},"message":{"type":"div","class":"","id":"","style":""},"button":{"type": "button","class": "w-button w-button-primary","id": "","style": ""},"label": {"type": "label","class": "","style": "display: none;"}};n2g('create', '{{ .Site.Params.Newsletter2GoID }}');n2g('subscribe:createForm', config);</script>
          </div>
          <h3 class="footer-header">Folge uns via soziale Medien</h3>
          <ul class="socialmedia-list">
             <li class="list-item">
                <a href="https://twitter.com/AccessGuide_de" target="_blank" class="social-button left-button white">
                  <img class="social-icon" alt="Twitter Konto" src="/images/layout/twitter-icon-white.svg">
                </a>
             </li>
             <li class="list-item">
                <a href="https://www.linkedin.com/company/ginto-guide" target="_blank" class="social-button center-button">
                  <img class="social-icon" alt="LinkedIn Seite" src="/images/layout/linkedin.svg">
                </a>
             </li>
             <li class="list-item">
                <a href="https://www.instagram.com/gintoguide/" target="_blank" class="social-button center-button">
                  <img class="social-icon" alt="Instagram Seite" src="/images/layout/instagram-icon.svg">
                </a>
             </li>
             <li class="list-item">
                <a href="https://www.facebook.com/gintoguide" target="_blank" class="social-button right-button white">
                    <img class="social-icon" alt="Facebook Seite" src="/images/layout/facebook-icon-white.svg">
                </a>
             </li>
          </ul>
       </div>
       <div class="bottom">
          <div class="text-block">{{ .Site.Copyright }}</div>
 
          {{ partial "language-selector.html" . }}
       </div>
    </div>
 </footer>